In [1]:
import os
import pickle
import pandas as pd
import pymysql
from sqlalchemy import create_engine

# MySQL 데이터베이스 연결 정보
username = 'root'
password = os.getenv('AIMED_PW')
host = '172.28.8.103'
port = '3306' # 예: '3306'
database = "MIMIC_III"
engine = create_engine(f'mysql+pymysql://{username}:{password}@{host}:{port}/{database}')

In [6]:
query = "SELECT ICUSTAY_ID, SUBJECT_ID FROM ICUSTAYS where LOS >= 2"
patient = pd.read_sql(query, engine)
patient

       ICUSTAY_ID  SUBJECT_ID
0          211552           3
1          228232           6
2          220597           9
3          288409          10
4          232669          12
...           ...         ...
32308      275958       99982
32309      239827       99982
32310      279638       99985
32311      226241       99991
32312      229633       99995

[32313 rows x 2 columns]

In [11]:
query = "SELECT * FROM patient_static"
patient_static = pd.read_sql(query, engine)
patient_static

,SUBJECT_ID,AGE,GENDER,ADMISSION_TYPE,ADMISSION_LOCATION,ICUSTAY_ID,LOS,INTIME,ADMITTIME,DOB,LAST_CAREUNIT,LAST_WARDID,ADMISSION-TO-ICU_TIME
0,3,76.0,M,EMERGENCY,EMERGENCY ROOM ADMIT,211552,6.0646,2101-10-20 19:10:11,2101-10-20 19:08:00,2025-04-11,MICU,12,0
1,6,66.0,F,ELECTIVE,PHYS REFERRAL/NORMAL DELI,228232,3.6729,2175-05-30 21:30:54,2175-05-30 07:15:00,2109-06-21,SICU,33,0
2,9,41.0,M,EMERGENCY,EMERGENCY ROOM ADMIT,220597,5.3231,2149-11-09 13:07:02,2149-11-09 13:06:00,2108-01-26,MICU,15,0
3,10,0.0,F,NEWBORN,PHYS REFERRAL/NORMAL DELI,288409,8.0921,2103-06-28 11:39:05,2103-06-28 11:36:00,2103-06-28,NICU,56,0
4,12,72.0,M,ELECTIVE,PHYS REFERRAL/NORMAL DELI,232669,7.6348,2104-08-08 02:08:17,2104-08-07 10:15:00,2032-03-24,SICU,23,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
32308,99982,66.0,M,EMERGENCY,CLINIC REFERRAL/PREMATURE,275958,4.9427,2157-01-06 16:07:09,2157-01-05 17:27:00,2091-10-02,CCU,7,1
32309,99982,66.0,M,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,239827,6.1701,2157-02-16 17:32:13,2157-02-16 17:31:00,2091-10-02,CCU,7,0
32310,99985,54.0,M,EMERGENCY,EMERGENCY ROOM ADMIT,279638,11.2998,2181-01-29 05:33:34,2181-01-27 02:47:00,2127-04-08,MICU,52,2
32311,99991,47.0,M,ELECTIVE,PHYS REFERRAL/NORMAL DELI,226241,3.1426,2184-12-28 17:30:58,2184-12-24 08:30:00,2137-04-07,TSICU,14,4
32312,99995,89.0,F,ELECTIVE,PHYS REFERRAL/NORMAL DELI,229633,2.1615,2147-02-08 13:53:58,2147-02-08 08:00:00,2058-05-29,CSRU,12,0

In [16]:
query = "SELECT * FROM PROCEDUREEVENTS_MV WHERE ITEMID IN (224263, 221214);"
dic = pd.read_sql(query, engine)
dic

,ROW_ID,SUBJECT_ID,HADM_ID,ICUSTAY_ID,STARTTIME,ENDTIME,ITEMID,VALUE,VALUEUOM,LOCATION,...,ORDERCATEGORYNAME,SECONDARYORDERCATEGORYNAME,ORDERCATEGORYDESCRIPTION,ISOPENBAG,CONTINUEINNEXTDEPT,CANCELREASON,STATUSDESCRIPTION,COMMENTS_EDITEDBY,COMMENTS_CANCELEDBY,COMMENTS_DATE
0,100,29056,163573,228281.0,2124-03-01 04:17:00,2124-03-01 04:18:00,221214,1.0,None,None,...,Imaging,None,Electrolytes,0,0,0,FinishedRunning,None,None,NaT
1,137,29200,105865,214221.0,2142-02-24 10:30:00,2142-02-24 10:31:00,221214,1.0,None,None,...,Imaging,None,Electrolytes,0,0,0,FinishedRunning,None,None,NaT
2,138,29200,105865,214221.0,2142-02-24 11:48:00,2142-02-24 11:49:00,221214,1.0,None,None,...,Imaging,None,Electrolytes,0,0,2,Rewritten,RN,None,2142-02-24 11:49:00
3,339,29495,182822,252299.0,2126-01-25 16:55:00,2126-01-25 16:56:00,221214,1.0,None,None,...,Imaging,None,Electrolytes,0,0,0,FinishedRunning,None,None,NaT
4,362,13401,195082,277693.0,2189-01-22 14:43:00,2189-01-22 14:44:00,221214,1.0,None,None,...,Imaging,None,Electrolytes,0,0,0,FinishedRunning,None,None,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16685,257975,48935,177563,276120.0,2133-10-23 17:38:00,2133-10-24 12:22:00,224263,1124.0,min,Right IJ,...,Invasive Lines,None,Task,1,0,0,FinishedRunning,None,None,NaT
16686,258001,70492,171324,245433.0,2130-09-30 05:01:00,2130-10-01 15:11:00,224263,2050.0,min,None,...,Invasive Lines,None,Task,1,0,0,FinishedRunning,None,None,NaT
16687,258013,70355,161709,290965.0,2113-10-28 17:54:00,2113-10-29 17:00:00,224263,1386.0,min,None,...,Invasive Lines,None,Task,1,0,0,FinishedRunning,None,None,NaT
16688,258039,70714,184268,241846.0,2127-10-12 19:53:00,2127-10-13 14:46:00,224263,1133.0,min,None,...,Invasive Lines,None,Task,1,0,0,FinishedRunning,None,None,NaT
16689,258060,80536,129791,291338.0,2160-08-11 07:24:00,2160-08-11 23:03:00,224263,939.0,min,Right Femoral.,...,Invasive Lines,None,Task,1,0,0,FinishedRunning,None,None,NaT

In [3]:
query = "SELECT * FROM CHARTEVENTS WHERE ICUSTAY_ID IN (228281.0);"
icu_patient = pd.read_sql(query, engine)
icu_patient

,ROW_ID,SUBJECT_ID,HADM_ID,ICUSTAY_ID,ITEMID,CHARTTIME,STORETIME,CGID,VALUE,VALUENUM,VALUEUOM,WARNING,ERROR,RESULTSTATUS,STOPPED
0,3884411,29056,163573,228281,224162,2124-03-02 16:00:00,2124-03-02 17:10:00,15526,8,8.0,insp/min,0.0,0.0,None,None
1,3884412,29056,163573,228281,220045,2124-03-02 17:00:00,2124-03-02 17:09:00,15526,76,76.0,bpm,0.0,0.0,None,None
2,3884413,29056,163573,228281,220210,2124-03-02 17:00:00,2124-03-02 17:09:00,15526,19,19.0,insp/min,0.0,0.0,None,None
3,3884414,29056,163573,228281,220179,2124-03-02 17:03:00,2124-03-02 17:09:00,15526,89,89.0,mmHg,0.0,0.0,None,None
4,3884415,29056,163573,228281,220180,2124-03-02 17:03:00,2124-03-02 17:09:00,15526,57,57.0,mmHg,0.0,0.0,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1793,268165195,29056,163573,228281,227343,2124-03-01 12:00:00,2124-03-01 12:38:00,15526,None,0.0,,0.0,0.0,None,None
1794,268165196,29056,163573,228281,227344,2124-03-01 12:00:00,2124-03-01 12:38:00,15526,Yes,20.0,,0.0,0.0,None,None
1795,268165197,29056,163573,228281,227345,2124-03-01 12:00:00,2124-03-01 12:39:00,15526,Bed rest,0.0,,0.0,0.0,None,None
1796,268165198,29056,163573,228281,227346,2124-03-01 12:00:00,2124-03-01 12:39:00,15526,Oriented to own ability,0.0,,0.0,0.0,None,None
1797,268165199,29056,163573,228281,227375,2124-03-01 12:00:00,2124-03-01 12:34:00,15526,No,NaN,,0.0,0.0,None,None

In [9]:
def check_48h(icu_patient):
    time_diff = icu_patient["CHARTTIME"].max() - icu_patient["CHARTTIME"].min()
    print(time_diff.days)
    if time_diff.days >= 2:
        return True
    else:
        return False

check_48h(icu_patient)

2

True